/* indexor */
[tmltitle-idx-target],
.tmlTitle-idx-copylink{
    cursor:pointer;
    margin-left:0.3em;
    color:#008cff;
}
.tmlTitle-idx-copylink,
.tmlTitle-idx-go-mainframe{
    font-size:0.8em;
}


/* moreLess */
.tmlTitle-ml-btn-class{
    text-decoration:none;
    font-size:1em;
    line-height:1.05em;
    cursor:pointer;
    color:#909090;
    padding-left:0.3em;
    margin:0;
}